/* @import "./markdown.css"; */

/* :root {
  --red: #8a0303;
} */

html {
  height: 100vh;
}

body {
  height: 100vh;
  overflow: hidden;
  background-color: #000e00;
  /* background-image: radial-gradient(
    circle farthest-corner at 1.2% 45.8%,
    rgba(255, 77, 77, 1) 0%,
    rgba(63, 55, 55, 1) 90%
  ); */
}

#app {
  min-height: 100vh;
  overflow: hidden;
}

#app.sunny {
  background: linear-gradient(0, #8a0303 0%, #fdbb2d 25%, #22c1c3 100%);
}

.bounce-enter-active {
  animation: bounce-in 0.5s ease-out both;
}

.bounce-leave-active {
  animation: bounce-in 0.5s reverse ease-in both;
}

@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}
