@keyframes rot3d {
  from {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  to {
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  }
}

.rot3d {
  transform-origin: center center valc(var(--edge) / 2);
  animation-name: rot3d;
  animation-timing-function: linear;
  animation-duration: var(--sp);
  animation-iteration-count: infinite;
  animation-delay: 1s;
}

@keyframes mov3d {
  from {
    transform: translateY(0) translateZ(0);
  }
  to {
    transform: translateY(var(--edge)) translateZ(var(--edge));
  }
}

.mov3d {
  transform-origin: center center valc(var(--edge) / 2);
  animation-name: mov3d;
  animation-timing-function: linear;
  animation-duration: var(--sp);
  animation-iteration-count: infinite;
  animation-delay: 1s;
}

/* * */

.bounce-enter-active {
  animation: bounce-in 0.5s;
}
.bounce-leave-active {
  animation: bounce-in 0.5s reverse;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}
